*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}

.page1 .nav{
    height: 120px;
    width: 100%;
    background-color: bisque;
}

.content{
    height: calc(100% - 120px);
    width: 100%;
    background-color: blueviolet;
}