*{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    /* background-color: lightgoldenrodyellow;  */
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 25% 55% 20%;
}

 /* --------------------------------------Left top---------------------------------------------------------------- */

.left-topLeft{
    /* background-color: aqua; */
    padding: 40px;
}

.square{
    height: 30px;
    width: 30px;
    rotate: 45deg;
    border-radius: 10px;
    background-color: black;
}

.left-topRight{
    justify-self: right;
    padding: 40px ;
    text-align: right;
}

.left-topRight h4{
    margin-bottom: 50px;
    font-size: 20px ;
    font-weight: 500;
}

.left-topRight h5{
    margin-bottom: 7px;
    font-size: 18px ;
    font-weight: 500;
    color: #443f3f;
}

 /* --------------------------------------Left center---------------------------------------------------------------- */
.left-center{
    grid-column: 1 / 3;
    padding: 40px 90px;
}

.left-center h1{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left-center h1:nth-child(2n){
    text-align: center;
}



 /* --------------------------------------Left bottom---------------------------------------------------------------- */

.left-bottom{
    grid-column: 1 / 3;
    padding: 40px;
}

.left-bottom{
   width: 70%;
}


 /* --------------------------------------right---------------------------------------------------------------- */

.right{
    /* background-color: blue; */
    grid-column: 3;
     grid-row: 1 / 4;
     padding: 40px;
     padding-right: 100px;
}

.right video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}


/*  arrow */
.arrow{
   position: absolute;
   top: 50%;
   left: 52%;
   display: flex;
   align-items: center;
   justify-items: center;
   background-color: orangered;
   padding: 30px;
   border-radius: 50%;
   color: white;
   transform: translate(-50%, -50%); 
   cursor: pointer;
}

.arrow i{
    font-size: 40px;
    font-weight: 100;
}


@media (max-width: 600px){
    .main{
        grid-template-columns: 50% 50%;
        grid-template-rows:  60px 20% 10%;
    }
    
    .left-topLeft{
        padding: 20px;
    }   
    .square{
        height: 25px;
        width: 25px;
    }
    .left-topRight{
        padding: 20px ;
    }
    .left-topRight h5{
       display: none;
    }
    
     /* --------------------------------------Left center---------------------------------------------------------------- */
    .left-center{
        padding: 0px 90px;
    }
    
    .left-center h1{
        font-size: 8vw;
    }
    .left-center h1:nth-child(2n){
        text-align: right;
    }
    
      
     /* --------------------------------------Left bottom---------------------------------------------------------------- */
    
    .left-bottom{
       width: 100%;
       grid-row: ;
       padding: 0px 20px;
    }
    
   
     /* --------------------------------------right---------------------------------------------------------------- */
    
    .right{
        grid-column: 1 / 4;
         grid-row: 4;
         padding: 20px;
    }
    
    .right video {
        height:58vh;
    }
    
    
    /*  arrow */
    .arrow{
       top: 40%;
       left: 50%;
       padding: 20px;
    }
    
    .arrow i{
        font-size: 20px;
        rotate: 90deg;
    }
}





@media (max-width: 400px){
    .main{
        grid-template-columns: 50% 50%;
        grid-template-rows:  40px 20% 10%;
    }
    
    .left-topLeft{
        padding: 12px;
    }   
   
    .left-topRight{
        padding: 12px ;
    }
     /* --------------------------------------Left center---------------------------------------------------------------- */
    .left-center h1{
        font-size: 7vw;
    }
    .left-center h1:nth-child(2n){
        text-align: center;
    }
    
      
     /* --------------------------------------Left bottom---------------------------------------------------------------- */
    
    .left-bottom{
       width: 100%;
       grid-row: 3 / 4 ;
       padding: 0px 20px;
    }
    
   
     /* --------------------------------------right---------------------------------------------------------------- */
    
    .right{
        grid-column: 1 / 4;
         grid-row: 4;
         padding: 20px;
    }
    
    .right video {
        margin-top: 45px;
        height: 58vh;
    }
    
    
    /*  arrow */
    .arrow{
       top: 46%;
       left: 85%;
       padding: 15px;
    }
    
    .arrow i{
        font-size: 15px;
        rotate: 90deg;
    }
}